<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>APIを使ったソースコード実行</title>
    <!--キャッシュの無効化-->
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <!--スタイルの適用-->
    <link rel="stylesheet" href="css/style.css" />
    <!--vue 3.0の使用-->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <h1>APIを使ったソースコードの実行</h1>
      <p>
        次のテキストエリアに任意のプログラムを入力して、実行を押してください。
      </p>
      <textarea cols="100" rows="30" v-model="code"> </textarea><br />
      <button @click="run">実行！</button>
      <pre>
          {{code}}
      </pre>
      
    </p>
    <p>入力</p>
    <textarea cols="100" rows="5" v-model="input"> </textarea><br />

      <p>実行結果：</p>
      <p>出力：<br />{{output_txt}}</p>
      <p>エラー：<br />{{err_txt}}</p>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
